<div class="main__wrapper--left">
  <div class="list__category--left">
    <div class="heading">
      <h2>Danh mục sản phẩm</h2>
    </div>
    <div class="category">
      {% for collection in collections %}
        <a href="{{ collection.url  }}" class="category__item">
          <div class="icon">
            {% if collection.image %}
              <picture class="webpimg-container">
                <source type="image/webp" srcset="{{ collection.featured_image | img_url }}">
                <img
                  src="{{ collection.featured_image | img_url }}"
                  width="32"
                  height="32"
                  alt="{{ collection.title  }}">
              </picture>
            {% else %}
              <picture class="webpimg-container">
                <source type="image/webp" srcset="https://salt.tikicdn.com/cache/100x100/ts/category/75/34/29/d900f845e51e95a2c41b5b035468f959.png.webp">
                <img
                  src="https://salt.tikicdn.com/cache/100x100/ts/category/75/34/29/d900f845e51e95a2c41b5b035468f959.png.webp"
                  width="32"
                  height="32"
                  alt="{{ collection.title  }}">
              </picture>
            {% endif %}
          </div>
          <h2 class="text">{{ collection.title }}</h2>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="main__wrapper--right">
  <div class="main__banner">
    <div class="main__banner--wrapper">
      <div class="owl-carousel owl-theme owl__banner">
        <div class="owl__banner--item">
          <a href="#">
            <img src="https://salt.tikicdn.com/ts/tka/07/2a/a2/e19baa387476554e969f31c18c53bbaf.png" alt="">
          </a>
        </div>
        <div class="owl__banner--item">
          <a href="#">
            <img src="https://salt.tikicdn.com/ts/tikimsp/ab/e5/0f/404405fac1d34dd02761e9181f541826.png" alt="">
          </a>
        </div>
        <div class="owl__banner--item">
          <a href="#">
            <img src="https://salt.tikicdn.com/ts/tikimsp/5f/ab/1e/4a919bd6b3b26e2bec49b042ddf59808.jpg" alt="">
          </a>
        </div>
        <div class="owl__banner--item">
          <a href="#">
            <img src="https://salt.tikicdn.com/ts/tikimsp/d2/a7/af/2a3406b1d68a6b26a19df85785b6910d.png" alt="">
          </a>
        </div>
        <div class="owl__banner--item">
          <a href="#">
            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100,s_593x181/https://cdn.tgdd.vn/2023/07/banner/720x220-720x220-86.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white main__policy">
    <div class="list">
      <ul>
        <li><a href="#"><div class="icon"><img src="https://salt.tikicdn.com/ts/upload/2e/05/69/fd3c678658e51a804f8186b7757b9ab3.png" alt=""></div><div class="title"><p>100% hàng chính hãng</p></div></a></li>
        <li><a href="#"><div class="icon"><img src="https://salt.tikicdn.com/ts/upload/6e/96/02/668c2817ae81b7418fa54e39e19af772.png" alt=""></div><div class="title"><p>100% hàng chính hãng</p></div></a></li>
        <li><a href="#"><div class="icon"><img src="https://salt.tikicdn.com/ts/upload/51/b2/63/7cb5492a2c21064f92c299e82a1c41bf.png" alt=""></div><div class="title"><p>Giao hàng đúng hẹn</p></div></a></li>
      </ul>
    </div>
    <div class="more">
      <a href="/collections/all">Tiếp tục mua sắm</a>
    </div>
  </div>
  <div class="bg-white main__product-seller">
    <div class="main__heading">
      <h2 class="main__heading--title">Sản phẩm bán chạy</h2>
      <a href="/colections/san-pham-ban-chay">Xem thêm
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
        </span>
      </a>
    </div>
    <div class="main__product--wrapper">
      <div class="owl__product__hot owl-theme owl-carousel">
        {%- for product in collections['san-pham-ban-chay'].products limit: 10 -%}
          <div class="product__item border">
            <div class="product__item--thumb">
              <a href="{{ product.url }}" title="{{ product.title }}">
                <picture class="webpimg-container">
                  <source type="image/webp" srcset="https://salt.tikicdn.com/cache/280x280/ts/product/6a/be/a4/eed46980c01c6332b513831e13dd14cf.jpg">
                  <img src="https://salt.tikicdn.com/cache/280x280/ts/product/6a/be/a4/eed46980c01c6332b513831e13dd14cf.jpg" alt="Điện thoại Samsung Galaxy Z Flip 4 (8GB/128GB) - Hàng chính hãng">
                </picture>
              </a>
              <div class="discount">-22%</div>
            </div>
            <div class="product__item--info">
              <div class="product_price">
                <div class="sale_price">150.000<sup>đ</sup>
                </div>
                <div class="regular_price">7.330.000<sup>₫</sup>
                </div>
              </div>
              <h3 class="name">
                <a href="{{ product.url }}" title="{{ product.title }}">
                  {{ product.title }}
                </a>
              </h3>
              <div class="star">
                <div class="list-star">
                  <i class="star"></i>
                  <i class="star"></i>
                  <i class="star"></i>
                  <i class="star"></i>
                  <i class="star"></i>
                  <span class="total_buy">(156 lượt bán)</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="bg-white main__product-favorite">
    <div class="main__heading">
      <h2 class="main__heading--title">Sản phẩm yêu thích</h2>
      <a href="/collections/san-pham-yeu-thich">Xem thêm
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
        </span>
      </a>
    </div>
    <div class="main__product--wrapper">
      <div class="owl_favorite owl-theme owl-carousel">
        {%- for product in collections['san-pham-yeu-thich'].products limit: 10 -%}
          <div class="product__item border">
            <div class="product__item--thumb">
              <a href="{{ product.url }}" title="{{ product.title }}">
                <picture class="webpimg-container">
                  <source type="image/webp" srcset="https://salt.tikicdn.com/cache/280x280/ts/product/6a/be/a4/eed46980c01c6332b513831e13dd14cf.jpg">
                  <img src="https://salt.tikicdn.com/cache/280x280/ts/product/6a/be/a4/eed46980c01c6332b513831e13dd14cf.jpg" alt="Điện thoại Samsung Galaxy Z Flip 4 (8GB/128GB) - Hàng chính hãng">
                </picture>
              </a>
              <div class="discount">-22%</div>
            </div>
            <div class="product__item--info">
              <div class="product_price">
                <div class="sale_price">150.000<sup>đ</sup>
                </div>
                <div class="regular_price">7.330.000<sup>₫</sup>
                </div>
              </div>
              <h3 class="name">
                <a href="{{ product.url }}" title="{{ product.title }}">
                  {{ product.title }}
                </a>
              </h3>
              <div class="star">
                <div class="list-star">
                  <i class="star"></i>
                  <i class="star"></i>
                  <i class="star"></i>
                  <i class="star"></i>
                  <i class="star"></i>
                  <span class="total_buy">(156 lượt bán)</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="bg-white main__product-favorite">
    <div class="main__heading">
      <h2 class="main__heading--title">Sản phẩm nổi bật</h2>
      <a href="/collections/san-pham-noi-bat">
        Xem thêm
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
        </span>
      </a>
    </div>
    <div class="main__product--wrapper">
      <div class="product__grid">
        {%- for product in collections['san-pham-ban-chay'].products limit: 8 -%}
          <div class="product__item border">
            <div class="product__item--thumb">
              <a href="{{ product.url }}" title="{{ product.title }}">
                <picture class="webpimg-container">
                  <source type="image/webp" srcset="https://salt.tikicdn.com/cache/280x280/ts/product/6a/be/a4/eed46980c01c6332b513831e13dd14cf.jpg">
                  <img src="https://salt.tikicdn.com/cache/280x280/ts/product/6a/be/a4/eed46980c01c6332b513831e13dd14cf.jpg" alt="Điện thoại Samsung Galaxy Z Flip 4 (8GB/128GB) - Hàng chính hãng">
                </picture>
              </a>
              <div class="discount">-22%</div>
            </div>
            <div class="product__item--info">
              <div class="product_price">
                <div class="sale_price">150.000<sup>đ</sup>
                </div>
                <div class="regular_price">7.330.000<sup>₫</sup>
                </div>
              </div>
              <h3 class="name">
                <a href="{{ product.url }}" title="{{ product.title }}">
                  {{ product.title }}
                </a>
              </h3>
              <div class="star">
                <div class="list-star">
                  <i class="star"></i>
                  <i class="star"></i>
                  <i class="star"></i>
                  <i class="star"></i>
                  <i class="star"></i>
                  <span class="total_buy">(156 lượt bán)</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% comment %} {% paginate collection.products by 2 %}
<h1>{{ collection.title }}</h1>
{% for product in collection.products %}
<div>
<a href="{{ product.url | within: collection }}">{{ product.title }}</a>
{{ product.price | money }}
{% unless product.available %}<br><strong>sold out</strong>{% endunless %}
<a href="{{ product.url | within: collection }}">
<img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
</a>
</div>
{% else %}
<p>no matches</p>
{% endfor %}
{% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
{% endpaginate %} {% endcomment %}